#header{
  background-color: #1f2937;
}

/*--=====hero section=====-- */
div.hero-container {
    display: flex-end;
    flex: wrap; 
  }
  .hero-logo{   
    margin-left: 8px;
    width: 85px;
    padding: 5px;
    height: 85px;
}

/*--===== End hero section=====-- */

/*--=====Navigation Section=====--*/
nav {
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display:flex-end;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  nav a:hover {
    background: rgb(68, 68, 68)474;
  }
/*--===== End Navigation Section=====--*/

/*--=====Hero main text  Section=====--*/
  .hero-main-text{
    color: #f9faf8;
    margin-left: 40px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  h1{
    font-size: 48px;
    font-weight:bold;
  }

  div.hero-profile-image{
    margin-left:74%;
    overflow:clip;
    overflow: x 15px;
  }